/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap';

$font-family-sans-serif: Lexend, serif !default;

//headings
$presentation-heading-font: "Lexend" !default;
$presentation-heading-font-weight: 600; 
$presentation-subtitle-font-weight: 100;


//colors
$link-color: #279af1;
$light-bg-code-color: #0b6e4f;
$code-color: #0b6e4f;
$presentation-heading-color: #160f29;

//layout
$code-block-font-size: 0.65em;